.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-position: center;
}
.navbar-container {
  width: 100%;
}

.home-inner-container {
  width: 82vw;
  height: 100vh;
  margin-top: 10px;
  display: flex;
  padding: 20px;
  justify-content: center;
  background: rgba(0, 0, 0, 0.615);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.1px);
  -webkit-backdrop-filter: blur(4.1px);
  margin-bottom: 20px;
  box-shadow: 2px 2px 40px 2px black;
  z-index: 10;
}

.food-list-container {
  height: 80vh;
  overflow-y: scroll;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
